<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{titolo}}</title> <!--le doppie graffe permettono di creare una variabile, da definire nella de di @app.route-->
</head>
<body>

    <!-- Navbar -->
    <div class="navbar">
        <ul>
            <li><a href="{{url_for('welcome')}}">Home</a></li>
            <li><a href="{{url_for('aboutus')}}">Chi Siamo</a></li>
            <li><a href="{{url_for('contact')}}">Contatti</a></li>
            {%block linkAdCazzum%}{%endblock%}
        </ul>
    </div>

    <!-- Main Content -->
    <div class="container">
        {%block contenutoContainer%}{%endblock%}
        <h2>Ciao a tutti sono {{nome}}</h2>
    </div>

</body>
</html>
