{%extends 'base.html'%}
{%block contenutoContainer%}
<div class="container">
<h1>Contattaci</h1>
<p>Hai domande? Vuoi saperne di più su NovaTech Labs? Siamo qui per aiutarti!</p>
<div class="contact-info">
<p><strong>Indirizzo:</strong> Via Leonardo Da Vinci, 42 - 40100 Bologna, Italia</p>
<p><strong>Telefono:</strong> +39 051 123 4567</p>
<p><strong>Email:</strong> support@novatech.com</p>
<p><strong>Sito web:</strong> <a href="https://www.novatech.com" style="color: #fff; text-decoration: underline;">www.novatech.com</a></p>
</div>
{%endblock%}
